/* .input-group-append {
    cursor: pointer;
  } */

  #datetimepicker1 {
    position: relative;
}

.tempus-dominus-widget {
    position: absolute !important;
    top: 100% !important;
    z-index: 1050; 
}
